In [1]:
# Required Dependencies

import pandas as pd
import numpy as np
import os

In [2]:
# Files to load and REad

CAL = "California_Merged_100k.csv"
cal = pd.read_csv(CAL)

In [3]:
# 'cal' details

cal.shape

(10000, 20)

In [4]:
# Index 'cal' by County

cal.set_index('County', inplace=True)

In [5]:
# set display options

pd.set_option('display.max_rows', 1)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', 100)
pd.set_option('display.width', None)

In [6]:
# Print 'cal'

cal

,Year,ST,AGEP,FER,GCL,HINS1,JWMNP,JWRIP,JWTR,LANX,MAR,SCH,SCHG,SCHL,WAGP,WKHP,DIS,ESR,OC
County,,,,,,,,,,,,,,,,,,,
Los Angeles County,2012,6,48,NaN,2.0,1,25.0,1.0,1.0,1.0,1,1.0,NaN,13.0,29500.0,40.0,2,1.0,0

In [7]:
# Remane 'cal' columns

cal.rename(columns = {'ST':'State', 'AGEP':'Age', 'FER': 'Gave birth to child within the past 12 months', 'GCL':'Grandparents living with grandchildren','HINS1':'Insurance through a current or former employer or union','JWMNP':'Travel time to work','JWRIP':'Vehicle occupancy','JWTR':'Means of transportation to work','LANX':'Language other than English spoken at home','MAR':'Marital status','JWRIP':'Vehicle occupancy','SCH':'School enrollment','SCHG':'Grade level attending','SCHL':'Educational attainment','WAGP':'Wages or salary income past 12 months','DIS':'Disability','ESR':'Employment status','OC':'Has Own Child','WKHP':'Usual hours worked per week past 12 months'}, inplace =True)
cal

,Year,State,Age,Gave birth to child within the past 12 months,Grandparents living with grandchildren,Insurance through a current or former employer or union,Travel time to work,Vehicle occupancy,Means of transportation to work,Language other than English spoken at home,Marital status,School enrollment,Grade level attending,Educational attainment,Wages or salary income past 12 months,Usual hours worked per week past 12 months,Disability,Employment status,Has Own Child
County,,,,,,,,,,,,,,,,,,,
Los Angeles County,2012,6,48,NaN,2.0,1,25.0,1.0,1.0,1.0,1,1.0,NaN,13.0,29500.0,40.0,2,1.0,0

In [9]:
# save 'cal' to csv

cal.to_csv("California_Final_100k.csv")